@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
}
main {
    padding: 40px 60px;
}
/* HEADER */
header {
    color: #fff;
    padding: 50px 50px;
    background-color: #0B2239;
}
header ul li {
    padding: 0px 10px;
    display: inline-block;
}
header li a {
    color: #e9e9e9;
    text-decoration: none;
}
header li a:hover {
    text-decoration: underline;
}
#img-perfil {
    width: 30px;
}
#expandir-perfil {
    width: 7px;
}
.display-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* PERFIL */

.usuario {
    display: flex;
    align-items: center;
}
#showPerfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemPerfil{
    position: absolute;
    top: 30px;
    right: -30px;
    width: 120px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
@media (max-width:1000px) {
    #itemPerfil {
        top: 33px;
    }
}
#itemPerfil li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 4px;
}

.usuario img, span {
    cursor: pointer;
    margin: 0 3px;
}

/* Menu responsivo */
#navigator-responsive {
    display: block;
}
#menu-responsivo {
    display: none;
}
#showMenu {
    display: block;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgba(201, 201, 201, 0.404);
    background-color: #0B2239;
    padding-top: 3px;
    cursor: pointer;

}
#showMenu:hover {
    transition: .4s;
    background-color: #0b2b4b;
}
.li-resp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    background-color: #0B2239;
    border: 1px solid rgba(212, 212, 212, 0.356);
    border-left: none;
    border-right: none;
    cursor: pointer;
}
.li-resp:hover {
    background-color: #0b2b4b;
}
#menu-responsivo a {
    color: #e9e9e9;
    text-decoration: none;
}
@media (max-width:1000px) {
    #navigator-responsive {
        display: block;
    }
    nav#menu {
        display: none;
    }
}
@media (max-width:530px) {
    header {
        padding: 50px 30px;
    }
    #perfil-name {
        display: none;
    }
}

.resAlunoResult {
    width: 100%;
    color: #808080;
}
.resAluno {
    color: #000000;
}
.modifyResult {
    padding: 5px 2px;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.521);
    margin-bottom: 4px;
}
.modifyResultName {
    padding: 5px 2px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.521);
    margin-bottom: 4px;
}
.modifyResult {
    padding: 5px 2px;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.521);
    margin-bottom: 4px;
}
.nomeClass {
    color: #ec0000;
    font-weight: 700;
    font-size: 20px;
    padding-left: 3px;
    margin-bottom: 10px;
}
/* CLASS TITULOS */

.titulos {
    color: #2fa7df;
    display: inline;
    font-weight: 700;
    padding: 5px 10px 0 10px;
    border: 1px solid rgb(177, 177, 177);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    transition: .4s;
}
#add-cadastrar {
    font-size: 15px;
    color: #16c410;
    transition: .4s;
}
#add-cadastrar:hover {
    color: #0bf103;
}

/* CONTEUDO */
.container {
    padding: 40px 40px 20px 40px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid rgb(177, 177, 177);
}
.aluno-info {
    width: 100%;
}
#dadosAlunosCadastrados {
    width: 100%;
}
#dadosAlunosCadastrados tr {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-bottom: 20px;
}
#dadosAlunosCadastrados td {
    color: #505050;
    width: 100%;
    margin: 2px;
    margin-bottom: 0;
    border-radius: 5px;
}
.dividir {
    display: block;
    width: 100%;
}
#continuarCadastrando {
    outline: 0;
}

@media (max-width:530px) {
    main {
        padding: 15px 15px;
    }
    .container {
        padding: 15px 15px;
    }
    .container-flex {
        justify-content: center;
    }
    #dadosAlunosCadastrados tr {
        padding-left: 0;
    }
}
@media (max-width:375px) {
    #dadosAlunosCadastrados tr {
        width: 75vw;
    }
}
/* Botão cadastro */

.btnCadastroContainer {
    display: flex;
    justify-content: end;
}


/* MODAL CADASTRO ALUNO */

#novoCaseContainer {
    display: none;
    position: fixed;
    z-index: 2;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(177, 177, 177, 0.933);
    background-color: rgb(255, 255, 255);
}
#bgNovoCaseContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background-color: rgba(92, 92, 92, 0.473);
}
#tituloCaseModal {
    display: flex;
    justify-content: space-between;
}
#tituloCaseModal {
    color: #7a7a7a;
}
#closeModal {
    color: #cecece;
}
#hr-titulo {
    width: 180px;
    margin-bottom: 20px;
    opacity: .5;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.625rem;
}
.form-group label, input {
    font-size: 14px;
    margin: 0px 10px 0 0;
}
.inputModal {
    border: 1px solid rgba(207, 207, 207, 0.774);
    border-radius: 7px;
    padding: 5px;
    width: 100%;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#avisoModal {
    font-size: 13px;
}
#botaoCadastroModal {
    display: flex;
    justify-content: end;
}
#btnCadastrarModal {
    margin: 0px 1px;
}
#btnLimparModal {
    margin: 0px 1px;
}
.btnModal {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid rgb(102, 102, 102);

}
.btnModal:hover {
    background-color: #fff;
    transition: .4s;
}
#buttonManterPagina {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#continuarCadastrando {
    width: 10px;
    margin-right: 0px;
    margin-left: 13px;
    opacity: .8;
}
#continuarCadastrandoLabel {
    color: #808080;
    margin-left: 3px;
    font-size: 13px;
}
#aviso {
    color: rgba(255, 0, 0, 0.562);
    font-size: 12px;
    padding: 0px 0px 50px 10px;
}
#avisoAdm {
    font-size: 12px;
    color: #7a7a7a9d;
}
#logado {
    display: inline;
}
#userName {
    padding-left: 3px;
    color: #353535a8;
    font-size: 13px;
}